mixin modal(id, cancelBtnId, okBtnId)
    form.modal.p-0(id=id)
        .modal-header.flex.flex-shrink-0.items-center.justify-between.p-4.border-b.border-gray-200.rounded-t-md
            h5#exampleModalLabel.text-xl.font-medium.leading-normal.text-gray-800 Modal title
        .p-4
            if block
                block

        .modal-footer.flex.flex-shrink-0.items-center.justify-between.p-4.border-t.border-gray-200.rounded-t-md
            button(class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id=cancelBtnId) Cancel
            button(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id=submitBtnId) Submit
